<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/1-admin-page/css/vertical-layout-light/style.css}" type="text/css">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/1-admin-page/images/favicon.png}"/>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav th:replace="fragments::topNavBar" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div th:replace="fragments::settingButton"  class="theme-setting-wrapper">
      </div>
      <div th:replace="fragments::kebabMany" id="right-sidebar" class="settings-panel">

      </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav th:replace="fragments::verticalNavBar" class="sidebar sidebar-offcanvas" id="sidebar">

      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Line chart</h4>
                  <canvas id="lineChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bar chart</h4>
                  <canvas id="barChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Area chart</h4>
                  <canvas id="areaChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Doughnut chart</h4>
                  <canvas id="doughnutChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Pie chart</h4>
                  <canvas id="pieChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Scatter chart</h4>
                  <canvas id="scatterChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer th:replace="fragments::footer" class="footer">
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{/1-admin-page/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script th:src="@{/1-admin-page/vendors/chart.js/Chart.min.js}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script th:src="@{/1-admin-page/js/off-canvas.js}"></script>
  <script th:src="@{/1-admin-page/js/hoverable-collapse.js}"></script>
  <script th:src="@{/1-admin-page/js/template.js}"></script>
  <script th:src="@{/1-admin-page/js/settings.js}"></script>
  <script th:src="@{/1-admin-page/js/todolist.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{/1-admin-page/js/chart.js}"></script>
  <!-- End custom js for this page-->
</body>

</html>
