<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="fragments::header">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{/1-admin-page/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/1-admin-page/js/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/1-admin-page/css/vertical-layout-light/style.css}" type="text/css">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/1-admin-page/images/favicon.png}"/>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav th:replace="fragments::topNavBar" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div th:replace="fragments::settingButton" class="theme-setting-wrapper">
      </div>

      <div th:replace="fragments::kebabMany" id="right-sidebar" class="settings-panel">
      </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav th:replace="fragments::verticalNavBar" class="sidebar sidebar-offcanvas" id="sidebar">
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Hoverable Table</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Firstname</th>
                          <th>Lastname</th>
                          <th>Email</th>
                          <th>User Type</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="user: ${userlist}" >
                          <td th:text="${user.id}">ID or img</td>
                          <td th:text="${user.firstName}">manh</td>
                          <td th:text="${user.lastName}">cong</td>
                          <td th:text="${user.username}">zmanhcong@gmail.com</td>
                          <td th:text="${user.usertype}"></td>
                          <td>
                            <div class="button-container">
                              <button th:id="'toggle-button' + ${user.id}" th:class="'custom-button ' + (${user.active} ? 'active' : 'inactive')" th:onclick="'toggleActiveStatus(' + ${user.id} + ', ' + ${user.active} + ')'" data-toggle="modal" data-target="#activeuser">
                                <span th:text="${user.active} ? 'Active' : 'Inactive'"></span>
                              </button>
                            </div>
                          </td>

                        <tr th:if="${#lists.isEmpty(#lists)}">
                          <td  colspan="6" class="text-center">Account is not found</td>
                        </tr>
                      </tbody>
                    </table>

                    <!-- Modal -->
                    <div class="modal fade" id="activeuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <form id="activeuser-form" method="post">
                            <div class="modal-header">
                              <h5 class="modal-title" id="activeuser-title"></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p id="activeuser-message"></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-primary" id="activeuser-button"></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="fragments::footer" class="footer">
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

  <!-- plugins:js -->
  <div th:replace="fragments::script"></div>
</body>


</html>
