<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/" >
<head th:replace = "fragments::header">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <div th:if="${session.message}" >
                                <p th:text="${session.message}" class = "alert alert-danger" ></p>
                            </div>
                            <div th:if="${session.successMessage}">
                                <p th:text="${session.successMessage}" class = "alert alert-success" ></p>
                            </div>


                            <form th:action="@{/register}" th:object="${adminDto}" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                               th:field = "*{firstName}"
                                            placeholder="First Name">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}"
                                        ></div>
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                               th:field="*{lastName}"
                                            placeholder="Last Name">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}"
                                        ></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                           th:field="*{username}"
                                        placeholder="Email Username">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password"  class="form-control form-control-user"
                                               th:field="*{password}"
                                            id="exampleInputPassword" placeholder="Password">

                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                                             th:errors="*{password}"
                                        ></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               th:field="*{repeatPassword}"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                    <div class="alert alert-danger" th:if="${passNotSame_error}">
                                        <p th:text="${passNotSame_error}"></p>
                                    </div>
                                    <div class="ml-3 mt-3">
                                        <p>Select the role of account you want to create:</p>
                                        <div class="form-check ml-3">
                                            <input class="form-check-input" type="radio" name="accountRole" id="adminAccount" value="admin">
                                            <label class="form-check-label" for="adminAccount">Admin</label>
                                        </div>
                                        <div class="form-check ml-3">
                                            <input class="form-check-input" type="radio" name="accountRole" id="userAccount" value="user">
                                            <label class="form-check-label" for="userAccount">User</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" th:href="@{/forgot-password}" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a th:href="@{/login}" class="small" >Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ></div>

</body>

</html>